---

---
<header>
    <div class="logo">
        <a href="/">
        <img src="/public/assets/images/logo.svg" alt="image-logo"/>
        </a>
    </div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">New</a></li>
            <li><a href="#">Popular</a></li>
            <li><a href="#">Trending</a></li>
            <li><a href="#">Categories</a></li>
        </ul>
    </nav>
</header>
<style>
    header{
        display: flex;
        align-content: center;
        justify-content: space-between;
        padding-block:
                clamp(1.5rem, 5vmax,5rem)
                clamp(1.5rem,5vmax,2rem);
    }
    ul{
        list-style-type: none;
        display: flex;
        gap: 1rem;
    }
    a{
        text-decoration: none;
        transition: color .2s ease;
        color:currentColor ;
        &:hover,
        &:focus-visible{
            color:var(--clr-yellow-400);
        }
    }
</style>