---

---
<header>
    <div class="logo">
        <img src="/public/assets/images/logo.svg" alt="image-logo"/>
    </div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">New</a></li>
            <li><a href="#">Popular</a></li>
            <li><a href="#">Trending</a></li>
            <li><a href="#">Categories</a></li>
        </ul>
    </nav>
</header>
<style>
    header{
        display: flex;
        align-content: center;
        justify-content: space-between;
    }
    ul{
        display: inline-flex;

    }
</style>