:root {
  interpolate-size: allow-keywords;
}

details {
  background: hsl(0 0% 5%);
  border: 1px solid hsl(0 0% 12%);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  overflow: hidden;
  cursor: pointer;
}

details::details-content {
  color: hsl(0 0% 78%);
  font-size: 1rem;
  block-size: 0;
  transition: block-size 1s linear, content-visibility 1s linear;
  transition-behavior: allow-discrete;
}

details:open::details-content {
  block-size: auto;
}

@layer general-styling {
  html {
    font-family: system-ui;
    color-scheme: dark;
  }

  body {
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.6;
    min-height: 100dvh;
    background-image: radial-gradient(
      in oklch circle at top left,
      hsl(303, 100%, 26%, 0.08),
      transparent
    );
    background-repeat: no-repeat;
  }

  h1,
  h2,
  h3,
  h4,
  p,
  details,
  summary {
    margin-block-end: 0;
  }

  .page-layout {
    display: grid;
    grid-template-columns:
      minmax(2rem, 1fr)
      min(960px, 100% - 4rem)
      minmax(2rem, 1fr);

    & > * {
      grid-column: 2 / 3;
    }

    margin-block: 5rem;
    container-type: inline-size;
    container-name: page-layout;
  }

  .section-title {
    font-size: 2rem;
    margin: 0;
    line-height: 1;
  }

  .section-icon {
    font-size: 3rem;
  }

  .faq {
    display: grid;
    gap: clamp(1rem, 10vw, 2.5rem);
    @container (width > 650px) {
      grid-template-columns: 250px 1fr;
    }
  }

  .questions-and-answers {
    margin-block-start: 3.5rem;
  }

  .questions-and-answers {
    display: grid;
    gap: 1rem;
  }

  details * {
    margin: 0;
  }

  details > p {
    padding-block: 1rem;
  }

  summary {
    color: hsl(0 0% 98%);
    line-height: 1.3;
    margin-inline-start: 1rem;
    list-style-position: outside;
  }

  summary::marker {
    font-size: 0.75em;
    color: hsl(0 0% 40%);
  }
}
